# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed

# Env files
.env
.env.local
.env.*.local

# Coverage
coverage/

# Build output
build/
dist/
.temp/
.tmp/

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/

# Optional: Nodemon ignore
nodemon.json
